/*---GLOBALS---*/
$globalFont: "Raleway", serif;
$globalFontSize: 16px;
$globalFontColor: #222222;

$globalWidth-3xl: 1500px;
$globalWidth-2xl: 1300px;
$globalWidth-xl: 1000px;
$globalWidth-lg: 800px;
$globalWidth-md: 600px;
$globalWidth-sm: 540px;

$globalLightGreyColor: #F6F6F6;
$globalGreyColor: #D9D9D9;
$globalDarkGreyColor: #494949;
$globalWhiteColor: #FFFFFF;
$globalBlueColor: #3C62C5;
$globalLightBlueColor: #9AADE1;
$globalDarkBlueColor: #345bc2;
$globalPinkColor: #F21F5B;

$globalBorderRadius: 2px;
$globalBorderStyle: 1px solid $globalGreyColor;

$globalBoxShadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.10);

$inputFontSize: 14px;
